@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome @User.Identity.Name!</h1>
        <h2>To Demo Accounting System</h2>
    }
    else
    {
        <h1>Demo Accounting System</h1>
    }
</div>
