@{
    ViewData["Title"] = "Team";
}
<h1>@ViewData["Title"]</h1>

<address>
    Arsienij Aniščanka<br />
    Volha Šyriajeva<br />
    Furs Kanstanćin<br />
    Daniil Jarmalkevič<br />
    Ivan Puzyrnyj<br />
    <hr />
    BSU, FAMCS, Group 3, Сourse 3<br />
</address>

<hr />

<address>
    <strong>Source:</strong> <a href="https://github.com/Batsila/ProgrammingTechnology">Github</a><br />
    <strong>Team managment:</strong> <a href="https://trello.com/b/aY0RGuqM/development">Trello</a>
</address>
